.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: #d49726;
    color: #fff;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    justify-content: center;
    padding: 24px 0;
    text-decoration: none;
}